/*@abdulrahmanAbutair_mainStyle*/
////////////////////////////////////////
.section-header {
  @extend %d-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  border-bottom: 0.2rem solid $mainClr;
  h2 {
    //margin-bottom: ;
  }
  .btn {
    @include border-radius(0);
  }
}

/***************************************/
.workers {
  background-color: $secondClr;
  padding: 3rem 1.5rem;
  margin-bottom: 3rem;
  &__inner {
    width: 100%;
    @include transition(all, .3s);
    &:hover {
      box-shadow: 0 0 1.2rem -0.1rem $mainClr;
    }
    img {
      width: 100%;
    }
  }
}
//-------------//
.fields {
  padding: 3rem 0;
  > .row > [class^="col-"] {
    margin-bottom: 3rem;
  }
  &__inner {
    @extend %d-flex;
    &--blueFC {
      .fields__img {
        i {
          color: $blueFC;
        }
      }
      .fields__dis {
        a {
          color: $blueFC;
        }
      }
    }
    &--blackFC {
      .fields__img {
        i {
          color: $blackFC;
        }
      }
      .fields__dis {
        a {
          color: $blackFC;
        }
      }
    }
    &--redFC {
      .fields__img {
        i {
          color: $redFC;
        }
      }
      .fields__dis {
        a {
          color: $redFC;
        }
      }
    }
    &--skyFC {
      .fields__img {
        i {
          color: $skyFC;
        }
      }
      .fields__dis {
        a {
          color: $skyFC;
        }
      }
    }
    &--greenFC {
      .fields__img {
        i {
          color: $greenFC;
        }
      }
      .fields__dis {
        a {
          color: $greenFC;
        }
      }
    }
    &--qFC {
      .fields__img {
        i {
          color: $qFC;
        }
      }
      .fields__dis {
        a {
          color: $qFC;
        }
      }
    }
    &--lightGreenFC {
      .fields__img {
        i {
          color: $lightGreenFC;
        }
      }
      .fields__dis {
        a {
          color: $lightGreenFC;
        }
      }
    }
    &--hFC {
      .fields__img {
        i {
          color: $hFC;
        }
      }
      .fields__dis {
        a {
          color: $hFC;
        }
      }
    }
    &--iFC {
      .fields__img {
        i {
          color: $iFC;
        }
      }
      .fields__dis {
        a {
          color: $iFC;
        }
      }
    }
    &--brownFC {
      .fields__img {
        i {
          color: $brownFC;
        }
      }
      .fields__dis {
        a {
          color: $brownFC;
        }
      }
    }
    &--medGreenFC {
      .fields__img {
        i {
          color: $medGreenFC;
        }
      }
      .fields__dis {
        a {
          color: $medGreenFC;
        }
      }
    }
    &--orangeFC {
      .fields__img {
        i {
          color: $orangeFC;
        }
      }
      .fields__dis {
        a {
          color: $orangeFC;
        }
      }
    }
    &--heavyGreenFC {
      .fields__img {
        i {
          color: $heavyGreenFC;
        }
      }
      .fields__dis {
        a {
          color: $heavyGreenFC;
        }
      }
    }
    &--someGreenFC {
      .fields__img {
        i {
          color: $someGreenFC;
        }
      }
      .fields__dis {
        a {
          color: $someGreenFC;
        }
      }
    }
    &--mauveFC {
      .fields__img {
        i {
          color: $mauveFC;
        }
      }
      .fields__dis {
        a {
          color: $mauveFC;
        }
      }
    }
    &--greyFC {
      .fields__img {
        i {
          color: $greyFC;
        }
      }
      .fields__dis {
        a {
          color: $greyFC;
        }
      }
    }
    &--scdSkyFC {
      .fields__img {
        i {
          color: $scdSkyFC;
        }
      }
      .fields__dis {
        a {
          color: $scdSkyFC;
        }
      }
    }
    &--scdRedFC {
      .fields__img {
        i {
          color: $scdRedFC;
        }
      }
      .fields__dis {
        a {
          color: $scdRedFC;
        }
      }
    }
    &--scdMauveFC {
      .fields__img {
        i {
          color: $scdMauveFC;
        }
      }
      .fields__dis {
        a {
          color: $scdMauveFC;
        }
      }
    }
    &--scdOrangeFC {
      .fields__img {
        i {
          color: $scdOrangeFC;
        }
      }
      .fields__dis {
        a {
          color: $scdOrangeFC;
        }
      }
    }

  }
  &__img {
    height: 6.5rem;
    width: 6.5rem;
    margin-#{$right}: 1.2rem;
    background-color: $whiteClr;
    @extend %d-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    i {
      margin: 0;
    }
  }
  &__dis {
    width: calc(100% - 5rem);
    @extend %d-flex;
    flex-flow: wrap;
    align-items: center;
    > * {
      width: 100%;
    }
    a {
      text-transform: capitalize;
      font-weight: bold;
      font-size: $medFontSize;
    }
    span {
      color: $bodyFontClr;
      font-size: $tinyFontSize;
    }
  }
}

/***************************************/

.cards-wrapper {
  > .row > [class^="col-"] {
    margin-bottom: 3rem;
  }
}
.featured-cards {
  &--social {
    flex-flow: wrap;
    align-items: center;
    .link {
      width: 100%;
      text-align: center;
      &:after {
        font-size: $tinyFontSize;
        margin-#{$left}: 0.5rem;
      }
      &:hover {
        color: $whiteFontClr;
      }
    }
  }
  &__list02 {
    @extend %d-flex;
    flex-flow: wrap;
    margin-left: -.5rem;
    margin-right: -.5rem;
    li {
      width: 25%;
      padding-left: .5rem;
      padding-right: .5rem;
      margin-bottom: 1rem;
    }
  }
}
.social-cards {
  &:hover {
    border: .1rem solid $mainClr;
  }
  @extend %d-flex;
  justify-content: space-between;
  align-items: center;
  border: .1rem solid $whiteClr;
  padding: 0.5rem;
  @include border-radius(.2rem);
  @include transition(all, 0.3s);
  &__img {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    margin-#{$right}: 0.7rem;
    @extend %d-flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
    i {
      font-size: $medFontSize;
      margin: 0;
      color: $whiteFontClr;
    }
  }
  &__dis {
    background-color: $whiteClr;
    color: $scdFontClr;
    font-size: 1rem;
    line-height: 0;
    height: 1.4rem;
    width: 1.4rem;
    padding: 0.2rem;
    @extend %d-flex;
    justify-content: center;
    align-items: center;
    @include border-radius(.3rem)
  }
}

/***************************************/

.products {
  > .row > [class^="col-"] {
    margin-bottom: 3rem;
  }
  &__inner {
    border: 1px solid $dropdownBG;
    &:hover {
      .products__dis {
        background-color: $productHover;
      }
    }
  }
  &__img {
    background-size: cover;
    background-position: center center;
    padding-top: 70%;
    display: block;
  }
  &__dis {
    @include transition(background-color, 0.3s);
    padding: 2rem 1.5rem 1.5rem;
    position: relative;
    > * {
      &:not(:last-child) {
        margin-bottom: .7rem;
      }
    }
    .name {
      font-weight: 300;
      text-transform: capitalize;
      a {
        font-size: $medFontSize;
      }
    }
    p, a {
      font-size: $tinyFontSize;
      margin: 0;
    }
    .location {
      strong {
        color: $mainClr;
      }
    }
    .favourite {
      position: absolute;
      padding: 0.2rem;
      bottom: 1.5rem;
      #{$right}: 1.5rem;
      color: $mainClr;
      border: none;
      margin: 0;
      i {
        margin: 0;
      }
    }
    .price {
      font-size: $headingPrimary;
    }
  }
}
/***************************************/

.sites-item {
  margin-left: .5rem;
  margin-right: .5rem;
  &__site {
    position: relative;
    .favourite {
      position: absolute;
      top: 0;
      #{$left}: 0;
      border: none;
      padding: 0.3rem;
      color: $mainClr;
      i {
        margin: 0;
      }
    }
    &:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }
  }
  &__img {
    padding: 0 2.5rem;
    margin-bottom: 1rem;
    a {
      display: block;
      max-width: 100%;
      padding-top: 100%;
      @include border-radius(50%);
      overflow: hidden;
      background-position: center center;
      background-size: cover;
    }
  }
  &__dis {
    display: block;
    text-align: center;
    text-transform: capitalize;
  }
}
/*********************latest-news******************/
.latest-news {
  &__flex {
    @extend %d-flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
  }
  &__inner {
    width: 100%;
    background-color: $dropdownBG;
    &:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }
    &--h {
      display: flex;
      padding: 1.2rem;
      align-items: center;
      .latest-news__img {
        padding-top: 0;
        width: 12rem;
        height: 8rem;
        margin-#{$right}: 1rem;
      }
      .latest-news__dis {
        position: relative;
        width: calc(100% - 12rem - 1rem);
        padding: 0;
        h3 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 1.8rem;
          a {
            font-size: $tinyFontSize;
          }
        }
        .seen-by {
          bottom: 0;
          #{$right}: 0;
        }
      }
    }
  }
  &__img {
    display: block;
    padding-top: 70%;
    background-size: cover;
    background-position: center center;
  }
  &__dis {
    background-color: $dropdownBG;
    padding: 1.2rem;
    position: relative;
    h3, p {
      margin: 0;
    }
    h3 {
      a {
        font-size: $medFontSize;
      }
    }
    p {
      font-size: $tinyFontSize;
      a {
        font-size: $tinyFontSize;
      }
    }
    i {
      color: $mainClr;
    }
    > * {
      &:not(:last-of-type) {
        margin-bottom: 0.8rem;
      }
    }
    .seen-by {
      position: absolute;
      bottom: 1.2rem;
      #{$right}: 1.2rem;
      margin: 0;
    }
  }
}