#introCarousel {

  .form {
    &__element {
      margin-bottom: 0;
      width: 100%;
      label {
        color: $scdMainClr;
      }
      .select2-container--default .custom-container .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: $scdMainClr;
      }
      .input {
        @include placeHolder {
          color: $scdMainClr;
        }
      }
    }
    &--intro {
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 9;
      margin-bottom: 3rem;
    }
  }
  .carousel-item {
    height: 500px;
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
    }
  }
  .carousel-caption {
    left: 0;
    right: 0;
    bottom: auto;
    top: 30%;
    color: $mainClr;
    font-size: $teraHeading;
    font-weight: 600;
  }
  .carousel-control-prev, .carousel-control-next {
    visibility: hidden;
    width: 5rem;
    height: 5rem;
    background-color: $secondClr;
    @include border-radius(50%);
    top: 50%;
    @include translate(0, -50%);
    &:hover, &:focus {
      background-color: $mainClr;
    }
  }
  .carousel-control-next {
    right: 3%;
  }
  .carousel-control-prev {
    left: 3%;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  &:hover {
    .carousel-control-prev, .carousel-control-next {
      visibility: visible;
    }
  }
}


/* OWL Carousel */
.owl-carousel {
  .owl-nav {
    margin: 2rem 0.5rem 0;
    @extend %d-flex;
    button {
      &.owl-next, &.owl-prev {
        background-color: $dropdownBG;
        width: 3rem;
        height: 3rem;
        @extend %d-flex;
        align-items: center;
        justify-content: center;
        &:after {
          font-weight: 900;
          font-family: "Font Awesome 5 Free";
          line-height: 1rem;
          font-size: $headingPrimary;
        }
        &:focus {
          outline-color: $secondClr;
        }
        &:hover {
          background-color: $secondClr;
          color: $whiteFontClr;
        }
      }
      &.owl-next {
        background-color: $dropdownBG;
        color: $scdMainClr;
        &:after {
          content: $angel-right;
        }
      }
      &.owl-prev {
        background-color: $scdMainClr;
        color: $whiteFontClr;
        &:after {
          content: $angel-left;
        }
      }
    }
  }
  .featured-cards {
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: 0;
  }
}

.featured-cards {
  color: $whiteFontClr;
  padding: 1.2rem;
  @extend %d-flex;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center center;
  height: 100%;
  position: relative;
  min-height: 18rem;
  &__list {
    width: calc(100% - 5rem - 1rem);
    margin-right: 1rem;
    .card-heading {
      color: $mainClr;
      font-weight: 900;
    }
    li {
      @extend %d-flex;
      align-items: center;
      &:not(:last-of-type) {
        margin-bottom: 0.6rem;
      }
      [class^='card-'] {
        color: $whiteFontClr;
        font-size: $smallFontSize;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &.card-heading {
          color: $mainClr;
          font-weight: 900;
        }
      }
      .card-link {
        @include transition(transform, 0.2s);
        &:hover {
          color: $mainClr;
          @include scale(1.05, 1.05);
        }
      }
    }
  }
  &__img {
    position: absolute;
    top: 10%;
    #{$right}: 1.5rem;
    img {
      width: 100%;
    }
  }
}
.circle-img {
  width: 5rem;
  height: 50px;
  @include border-radius(50%);
  margin: 0 auto 1rem;
  overflow: hidden;
  @extend %d-flex;
}
.share-div {
  @extend %d-flex;
  justify-content: space-between;
  align-items: flex-start;
  .btn {
    border: none;
    padding: 0.4rem;
    @extend %d-flex;
    justify-content: center;
    align-items: center;
    color: $whiteFontClr;
    i {
      font-size: $bodyFontSize;
      margin: 0;
    }
    &:not(:last-child) {
      margin-#{$right}: 0.8rem;
    }
    &.favourite {
      &:hover {
        i {
          &:before {
            font-weight: 900;
          }
        }
      }
    }
  }
}