.dropdown {
  &--header {
    .dropdown-toggle {
      &[aria-expanded='true'] {
        background-color: $dropdownBG;
        border: 1px solid $dropdownBG;
        color: $scdFontClr !important;
      }
    }
    .dropdown-menu {
      width: 100%;
      padding: 1rem;
      background-color: $dropdownBG;

      a {
        display: block;
        font-size: $tinyFontSize;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
        &:hover {
          &.btn--dark {
            color: $whiteFontClr;
          }
          &.btn--default {
            color: $scdFontClr;
          }
        }
      }
    }
  }
}

