/*@abdulrahmanAbutair_mainStyle*/
////////////////////////////////////////

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}
.social-links {
  @extend %d-flex;
  li {
    width: 5rem;
    height: 5rem;
    @include border-radius(50%);
    border: 1px solid $grayFontClr;
    font-size: $headingPrimary;
    a {
      width: 100%;
      height: 100%;
      @extend %d-flex;
      justify-content: center;
      align-items: center;

    }
    i {
      margin: 0;
    }
    &:not(:last-child) {
      margin-#{$right}: 1.5rem;
    }
    &:hover {
      box-shadow: 0 0 1.2rem -.1rem $mainClr;
    }
  }
}