/*@abdulrahmanAbutair_mainStyle*/
////////////////////////////////////////
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  //line-height: var(--h);
  color: $bodyFontClr;
  font-size: $bodyFontSize;
  //word-spacing: 0.15rem;
  text-align: $left;
}
i {
  margin-#{$right}: 0.5rem;
}
a {
  &:hover {
    text-decoration: none;
  }
}
.heading-primary {
  color: $scdFontClr;
  font-size: $headingPrimary;
  font-weight: 300;
  text-transform: capitalize;
}
.heading-secondary {}