/*@abdulrahmanAbutair_mainStyle*/
////////////////////////////////////////

p{
    line-height: 1.8;
}
.u-center-text {text-align: center}
.d-flex{@extend %d-flex}
.section {
    &--padding {
        padding: $secPadding 0;
    }
    &--grayBG {
        background-color: $dropdownBG;
    }
}
.vertical-img {
    overflow: hidden;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
    img {
        max-width: 100%;
        display: block;
        height: auto;
    }
}