/*@abdulrahmanAbutair_mainStyle*/
////////////////////////////////////////
%fullSize{
    width: 100%;
    height: 100%;
}
%covered_bg {
    width: 100%;
    background-size: cover;
    background-position: center center;
}
%d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
%flex-wrap{
    flex-wrap: wrap;
}
%flex-center {
    justify-content: center;
    align-items: center;
}
%flex-flow {
    flex-flow: column;
    justify-content: center;
}
%centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%,-50%);
}

%backface-visibility {
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
%bg-separated {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: auto 90%;
}
%prevent-selection{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
//%box-hover{
//    box-shadow:0 3px 10px -2px rgba($offerClr,.7);
//    @include translate(0, -.3rem)
//}
//%double-angel{
//    @include fontAwesome("Font Awesome 5 Free",$double-right,null,900,null); // plz replace all arrows to this (becouse of arabic)
//}
//%long-arrow{
//    @include fontAwesome("Font Awesome 5 Free",$long-arrow-right,null,900,null);
//}
//%content-nav{
//    color:$bodyFontClr;
//    margin-top: 2rem;
//    margin-bottom: 1rem;
//    font-weight: bold;
//    @include transition(color,.4s);
//    &:before{
//        margin-#{$right}: 1rem;
//        @extend %double-angel;
//    }
//    &:hover{
//        color: $orange;
//    }
//}