/*@abdulrahmanAbutair_mainStyle*/
////////////////////////////////////////

// colors
$bodyFontClr: #333;
$burgundyFontClr: #401D15; // used in footer text
$mainClr: #D9734E;
$secondClr: #0072BC;
$thirdClr: #BF9180; // footer BG & slider--sub active indicator
$whiteClr: #fff;

// spacing
$secPadding: 2.5rem;


// for form
$formHeight: 4rem;
$inputSearchHeight: 3rem;
$borderRadius: 0.4rem;
$inputMainPh: #BCBDC0;
$inputScdPh: #333;
$inputBorder: #C4C5C8;
$inputSearchBg: #EDEDED;

// font sizes
$bodyFontSize: 1.6rem;
$headingPrimary: 3rem;
$headingSecondary: 4rem;
$medFontSize:2rem;
$iconsFontSize: 1.6rem;