/*@abdulrahmanAbutair_mainStyle*/
////////////////////////////////////////

// colors
$bodyFontClr: #333;
$scdFontClr: #222;
$thirdFontClr: #343434;
$grayFontClr: #999;
$whiteFontClr: #fff;
$linkHoverFontClr: #23527c;

$mainClr: #FCB819;
$secondClr: #222;
$whiteClr: #fff;
$dropdownBG: #f1f1f1;

$greenBtn: #5cb85c;

// spacing
$secPadding: 2.5rem;


// for form

$formElementHeight: 4rem;
$formElementBorder: #acacac;


$inputSearchHeight: 3rem;
$borderRadius: 0.4rem;
$inputMainPh: #BCBDC0;
$inputScdPh: #333;
$inputBorder: #C4C5C8;
$inputSearchBg: #EDEDED;

// font sizes
$bodyFontSize: 1.6rem;
$smallFontSize: 1.4rem;
$tinyFontSize: 1.2rem;
$megaHeading: 3rem;
$headingPrimary: 2.4rem;
$headingSecondary: 4rem;
$medFontSize:2rem;
$iconsFontSize: 1.6rem;