/*@abdulrahmanAbutair_mainStyle*/
////////////////////////////////////////

// colors
$bodyFontClr: #333;
$scdFontClr: #222;
$thirdFontClr: #343434;
$grayFontClr: #999999;
$whiteFontClr: #fff;
$linkHoverFontClr: #23527c;

$scdMainClr: #F79523;

$mainClr: #FCB819;
$secondClr: #222;
$whiteClr: #fff;
$blackClr: #000;
$dropdownBG: #f1f1f1;

$productHover: #fafafa;

$footerBG: #262626;

$greenBtn: #5cb85c;

// spacing
$secPadding: 2.5rem;


// for form

$formElementHeight: 4rem;
$formElementBorder: #acacac;


$inputSearchHeight: 3rem;
$borderRadius: 0.4rem;
$inputMainPh: #BCBDC0;
$inputScdPh: #333;
$inputBorder: #C4C5C8;
$inputSearchBg: #EDEDED;

// font sizes
$bodyFontSize: 1.6rem;
$smallFontSize: 1.4rem;
$tinyFontSize: 1.2rem;
$megaHeading: 3rem;
$headingPrimary: 2.4rem;
$medFontSize:2rem;
$teraHeading: 7rem;


/*---------fields home page section colors--------*/
$blueFC: #2094b9;
$blackFC: #222;
$redFC: #ed1c24;
$skyFC: #3dd9d6;
$greenFC: #037365;
$qFC: #3d455c;
$lightGreenFC: #98c61e;
$hFC: #482426;
$iFC: #331b4d;
$brownFC: #c7b299;
$medGreenFC: #6abe83;
$orangeFC: #f7941d;
$heavyGreenFC: #2a4150;
$someGreenFC: #007236;
$mauveFC: #4b0049;
$greyFC: #7d7d7d;
$scdSkyFC: #00aeef;
$scdRedFC: #790000;
$scdMauveFC: #613942;
$scdOrangeFC: #f06966;